<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Oswald&display=swap" rel="stylesheet">

<div class="container-intro">
  <h3 class="title-name">Gavin Wilson</h3>
  <h3 class="title-dev">Web Developer</h3>
  <img class="main-pic" src="/assets/front_picture1.jpg" alt="Main Picture">
  <a routerLink="about" routerLinkActive="active"><button class="about-me-btn">About Me</button></a>

</div>