<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Oswald&display=swap" rel="stylesheet">

<div class="flex-container">

  <div id="lower-section" class="row">
    <h3 class="about-me-title">About Me</h3>

    <div class="col s12 m6 l6"><img class="side-picture" src="assets/rome-photo1.jpg" alt="image">
    </div>
    <div class="col s12 m6 l6 info">
      <p class="about-me"> Hello! I am a software developer who takes pride in creating a fantastic end product. I am
        always looking to optimize and improve. My background in corporate insurance taught me solid problem solving
        skills and
        how to work in a team environment. My time working as a residential real estate investor helped me manage
        difficult situations and to work in a logical and structured manner. My quest to find a fulfilling career led me
        to software development and I couldn't be happier. I enjoy working through problems and creating
        efficient solutions. It's the moments of success that make the challenges worthwhile. I am currently working on
        mastering React and am very interested in cloud computing. I am an Amazon Web Services Certified Cloud
        Practitioner and plan to delve deeper into AWS.
      </p>
      <br>
      <p class="about-me">When I'm not coding away, you can find me snowboarding in the winter or surfing in the summer,
        along with some golf, hiking, and tennis mixed in. </p>


    </div>
  </div>
  <div class="icons-section">
    <img class="tech-icon" src="/assets/tech-icons/angular.png" alt="Angular">
    <img class="tech-icon" src="/assets/tech-icons/aws.png" alt="AWS">
    <img class="tech-icon" src="/assets/tech-icons/css3.png" alt="CSS">
    <img class="tech-icon" src="/assets/tech-icons/django.png" alt="Django">
    <img class="tech-icon" src="/assets/tech-icons/express.png" alt="Express">
    <img class="tech-icon" src="/assets/tech-icons/sqlite.png" alt="Sqlite">
    <img class="tech-icon" src="/assets/tech-icons/github.png" alt="Github">
    <img class="tech-icon" src="/assets/tech-icons/html.png" alt="HTML">
    <img class="tech-icon" src="/assets/tech-icons/java.png" alt="Java">
    <img class="tech-icon" src="/assets/tech-icons/jquery.png" alt="Jquery">
    <img class="tech-icon" src="/assets/tech-icons/js.png" alt="Js">
    <img class="tech-icon" src="/assets/tech-icons/mongodb.png" alt="MongoDb">
    <img class="tech-icon" src="/assets/tech-icons/mysql.png" alt="MySQL">
    <img class="tech-icon" src="/assets/tech-icons/nodejs.png" alt="NodeJs">
    <img class="tech-icon" src="/assets/tech-icons/python.png" alt="Python">
    <img class="tech-icon" src="/assets/tech-icons/spring.png" alt="Spring">
    <img class="tech-icon" src="/assets/tech-icons/bootstrap.png" alt="Bootstrap">
    <img class="tech-icon" src="/assets/tech-icons/materialize.png" alt="Materialize">
    <a routerLink="/portfolio" routerLinkActive="active"><button class="next-btn">Portfolio</button></a>
  </div>
</div>